*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  position: relative;
}

.page-body {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.page-nav::after { 
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}