// Colors

$action-color: #0FC962;
$action-text-color: #FFFFFF;
$bg-color-header: #F7F7F9;
$basic-color: #2B2C30;
$bg-color-inner1: #594CC3;
$bg-color-inner2: #2B8AEB;
$bg-color-innner3: #F5FFFA;
$text-color: #143D69;
$border-color: #BBDBEB;
$border-color-2: #C6E0FA;
$text-color-inner-1: #47688B;
$text-color-inner-2:#335070;
$dark-color: #2B2C30;
$dark-color-inner: #000000;
$light-color: #D9E0EC;
$light-grey: #99A0B6;
$special-grey: #7A8EA5;
$special-grey-1: #6F8397;
$orange-color: #FFBD00;
$special-grey-2:  #AEAEAE;


// Font

$default-font: 'Gotham Pro', Arial, Helvetica, sans-serif;

// Viewports

$desktop-width: 1920px;
$mobile-width: 780px;
